<% include ../partials/header %>

        <!--campgrounds is coming from app.js where ref = 2 -->
    <div class ="container">
        <div class = "row">
            <div class = "col-md-3">
                <div class= "lead">YelpCamp</div>
                <div class = "list-group">
                    <div class = "list-group-item active">Info 1</div>
                    <div class = "list-group-item">Info 1</div>
                    <div class = "list-group-item">Info 1</div>
                </div>
            </div>
            <div class ="col-md-9">
                <div class= "thumbnail">
                    <img class= "img-responsive" src = "<%= campgrounds.url %>">
                    <div class = "caption-full">
                        
                        <h4><strong>Created by: <%= campgrounds.author.username %></strong></h4>
                        <h4 class = "pull-right">$9.00/night</h4>
                        <h4><a><%= campgrounds.name %></a></h4>
                        <p><%= campgrounds.description %> </p>
                        <% if(currentUser && campgrounds.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" href = "/campgrounds/<%= campgrounds._id %>/edit">Edit!!</a>
                            <form id = "dform" action = "/campgrounds/<%= campgrounds._id %>?_method=delete" method = "post" >
                                <button class="btn btn-xs btn-danger">Delete!!</button>
                            </form>
                        <% } %>
                    </div>
                </div>
                <div class= "well">
                    <div class = "text-right">
                        <a href = "/campgrounds/<%= campgrounds._id %>/comments/new" class = "btn btn-success">Add Comment</a>
                        
                    </div>
                    
                    <hr>
                    <% campgrounds.comments.forEach(function(comment){ %>
                    <div class = "row">
                        <div class= "col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class= "pull-right">Just Now</span>
                            <p> <%= comment.text %> </p>
                           
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                               <a class= "btn btn-xs btn-warning" href = "/campgrounds/<%= campgrounds._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                <form id = "dform" action = "/campgrounds/<%=campgrounds._id%>/comments/<%=comment._id%>?_method=delete" method = "post">
                                    <button class = "btn btn-xs btn-danger">Delete!!</button>
                                </form>
                            <% } %>
                            <hr>
                        </div>
                    </div>

                    <% }) %>
                    
                </div>
            </div>
        </div>
    </div>     
        




<% include ../partials/footer %>
